<div class="footer fluid-container">
    <div class="container">
     <div class="disk">
      <div class="f1">
         <h6><u>HELP</u></h6>
         <ul>
           <li><a href="#">Payment</a></li>
           <li><a href="#">Shipping</a></li>
           <li><a href="">Cancellation</a></li>
           <li><a href="">FAQ</a></li>
           <li><a href="">Report Intelligent</a></li>
         </ul>
     </div> 
     <div class="f1">
         <h6><u>Download Our App</u></h6>
         <ul>
           <li><a href="#"><img src="../assets/images/unnamed (1).png" ></a></li>
           <li><a href="#"><img src="../assets/images/unnamed.png" > </a></li>
          
         
         </ul>
     </div>
     <div class="f1">
         <h6><u>Policy</u></h6>
         <ul>
           <li><a href="#">Return Policy</a></li>
           <li><a href="#">Terms Of Use</a></li>
           <li><a href="#">Security</a></li>
           <li><a href="#">Privacy</a></li>
         </ul>
     </div>
     <div class="f1">
         <h6><u>Social</u></h6>
         <ul>
           <li><a href="#"><img src="../assets/images/unnamed (2).png"> <img src="../assets/images/unnamed (3).png"></a></li>
           <li><a href="#"><img src="../assets/images/unnamed (4).png"> <img src="../assets/images/unnamed (5).png">  <img src="../assets/images/unnamed (6).png"></a></li>
          
         </ul>
     </div>
    
    
    <hr class="line"><br>
    <a href="#"> <pre class="cpr">                                                                                            Copyright 2021,Cold Drinks,Limited </pre> </a>
    </div>
    </div>
    </div>
