<div class=" container shop " >
    <div class=" card-body">
      <img class="shopimg" src="/assets/images/sdrink.jpg" alt="">
        <div> 
         <div class="cldtype">Summer Coldrinks</div>
          <div class="card-footer2"><button class="rs">45$</button><button class="crt">add to cart</button></div></div>
    </div>
    <div class="card-body">
      <img  class="shopimg" src="/assets/images/juice8.jpg" alt="">
        <div>  <div class="cldtype"> 7 up Soda</div>
          <div class="card-footer2"><button class="rs">45$</button><button class="crt">add to cart</button></div></div>
    </div>
    <div class="card-body">
      <img   class="shopimg"  src="/assets/images/juice7.jpg" alt="">
        <div>   <div class="cldtype">Pepsi cola</div>
          <div class="card-footer2"><button class="rs">45$</button><button class="crt">add to cart</button></div></div>
    </div>
    <div class="card-body">
      <img class="shopimg"  src="/assets/images/juice6.jpg" alt="">
      <div>  <div class="cldtype"> Sprite bottle Pack</div>
        <div class="card-footer2"><button class="rs">45$</button><button class="crt">add to cart</button></div></div>
    </div>
    <div class="card-body">
      <img   class="shopimg"  src="/assets/images/juice5.jpg" alt="">
      <div>  <div class="cldtype">Sprite Lemon</div>
        <div class="card-footer2"><button class="rs">45$</button><button class="crt">add to cart</button></div></div>
    </div>
    <div class="card-body">
      <img  class="shopimg"  src="/assets/images/juice4.jpg" alt="">
      <div>  <div class="cldtype">Sprite Cronbery</div>
        <div class="card-footer2"><button class="rs">45$</button><button class="crt">add to cart</button></div></div>
    </div>
    <div class="card-body">
      <img   class="shopimg"  src="/assets/images/juice3.jpg" alt="">
      <div>  <div class="cldtype">Coca Cola</div>
        <div class="card-footer2"><button class="rs">45$</button><button class="crt">add to cart</button></div></div>
    </div>
    <div class="card-body">
      <img   class="shopimg"  src="/assets/images/juice2.jpg" alt="">
      <div>   <div class="cldtype">Thumps Soda</div>
        <div class="card-footer2"><button class="rs">45$</button><button class="crt">add to cart</button></div></div>
    </div>
</div>
<!--           pagination -->
<nav class="pgn">
  <ul class="pagination  ">
    <li class="page-item">
      <a class="page-link"  routerLink="../fruitjuice" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link "  routerLink="../lemonade">1</a></li>
    <li class="page-item"><a class="page-link"  routerLink="../soda">2</a></li>
    <li class="page-item"><a class="page-link"  routerLink="../sportdrink">3</a></li>
    <li class="page-item">
      <a class="page-link"  routerLink="../shop" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
