<body  >
    <div class="container about">
                      
                      
        <h6><p><b> Cold Drinks</b>, your number one source for <b>All types of Drinks </b>
           We're dedicated to giving you the very <br>best of product
               with a focus on  <b>dependability, customer service and uniqueness.</b><br></p>
                         
      <p> Founded in <b>2017 by John Dee, Cold Drinks </b>has come a long way from its beginnings in a<b> Hexan,
           Nisha Plaza, toolshed, Dadar. </b>.<br> When<b> John Dee</b> first started out, his passion for online business and creative ideas 
             drove him to do intense research,<br> and gave him the impetus
          to turn hard work and inspiration into to a booming online store.<br> We now serve customers all India
         , and are thrilled to be a part of the  quirky, eco-friendly,  wing of the
          coldrinks.</p>
          We hope you enjoy our products as much as we enjoy offering them to you. <br>
              If you have any questions or comments, please don't hesitate to contact us.<br><br>

          <pre>       
                                                                                  <b> Sincerely,
                                                                                   John Dee,Founder,
                                                                                   Cold Drinks</b></pre>
       </h6>

       </div>
</body>